
.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}

input.color {
    height: 22px;
}

.textarea {
    resize: vertical;
    width: calc(100% - 8px);
}

select {
    width: 100%;
}

.checkbox {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;
}

.checkbox * {
    cursor: pointer;
}

.top-margin {
    margin-top: 15px;
}

.presets,
.export-import {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    align-items: end;
}

.export-import {
    grid-column-gap: 5px;
}

.import-input {
    display: none;
}
