.layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    min-height: calc(100vh - 90px);
}

@media screen and (min-width: 800px) {
    .layout {
        grid-template-columns: 240px auto;
        grid-template-rows: 1fr;
    }
}

.side-panel {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 1fr;
    align-content: start;
    box-sizing: border-box;
    padding: 10px;
    transition: transform 250ms ease-in;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    height: 100%;

    @starting-style {
        transform: translateX(-100%);
    }
}

.side-panel label {
    font-size: 12px;
    display: block;
    margin-bottom: 4px;
}

.side-panel input {
    width: calc(100% - 7px);
}

.side-panel select {
    width: 100%;
}