:root {
    --side-panel-width: 400px;
}

.layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    height: calc(100vh - 70px);
    box-sizing: border-box;
}

.side-panel {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 1fr;
    align-content: start;
    box-sizing: border-box;
    padding: 10px 15px;
    transition: transform 250ms ease-in;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    box-shadow: 0px 0px 8px #66666E;
    border-bottom: 1px solid #66666E;
    max-height: auto;

    @starting-style {
        transform: translateY(-100%);
    }
}

@media screen and (min-width: 800px) {
    .layout {
        grid-template-columns: var(--side-panel-width) auto;
        grid-template-rows: 1fr;
    }

    .side-panel {
        border-right: 1px solid #66666E;

        @starting-style {
            transform: translateX(-100%);
        }
    }
}

.divider {
    width: 100%;
    margin: 0;
}
