.fieldset {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    column-gap: 10px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 10px 0 0 0;
}

.legend {
    font-size: 14px;
    text-transform: uppercase;
}