.zoom-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-content: center;
}

.image-marker {
    object-fit: contain;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 1px 2px 8px rgba(0,0,0,.2);
    display: block;
    box-sizing: border-box;
}