.image-marker {
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, .2);
    display: block;
    box-sizing: border-box;
    width: var(--image-size);
    height: var(--image-size);
    transition: transform .2s ease-out;
    transform-origin: center;
    position: relative;
    outline: 2px solid white;
}

.display-container {
    z-index: 1;
}

.image-marker.in-display {
    transform: scale(var(--image-display-scale));
    transition: transform .2s ease-in;
    z-index: 100;
}