.container {
    display: grid;
    row-gap: 10px;
}

.section {
    display: grid;
    row-gap: 4px;
}

.icon-dropdown {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 8px;
}
