.popup {
    width: 100%;
    max-width: 360px;
}

.content {
    max-height: 60dvh;
    overflow-y: auto;
    display: grid;
    row-gap: 10px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    column-gap: 8px;
    padding: 10px;
}
