.controls {
    display: grid;
    row-gap: 15px;
}

.control-group {
    display: grid;
    row-gap: 4px;
}

.variant-label {
    display: block;
}

.variant-dropdown {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 8px;
    row-gap: 12px;
    align-items: center;
}

.row {
    align-items: center;
}
