.player {
    height: var(--toolbox-size);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto max-content max-content;
    grid-template-columns: 1fr;
}

.pictures {
    position: relative;
}

.image-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: red;
}

/* TODO: Fix for chromium and edge */
input[type=range].progress-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: transparent;

    --thumb-width: 8px;
    --thumb-height: calc(var(--thumb-width) / 4 * 3);
}

input[type=range].progress-slider:focus {
    outline: none;
}

input[type=range].progress-slider::-moz-range-track {
    -webkit-appearance: none;
    appearance: none;
    background-color: lightgreen;
    opacity: .5;
    cursor: pointer;
}

input[type=range].progress-slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 0;
    height: 0;
    border-radius: 0;
    border-style: solid;
    border-width: var(--thumb-height) var(--thumb-width);
    border-color: transparent;
    border-left-color: lightgreen;
    cursor: pointer;
    transition: transform .2s ease-in-out;
    transform: translateX(calc(var(--thumb-width) / 2));
    transform-origin: 25%;
    transition: transform .1s ease-in;
}

input[type=range].progress-slider:hover::-moz-range-thumb {
    transform: translateX(calc(var(--thumb-width) / 2)) scale(1.5);
    transition: transform .1s ease-out;
}

.slider {
    position: relative;
    height: 2px;
    width: 100%;
    background-color: rgba(95, 158, 160, .5);
    margin-bottom: 8px;
}

.slider::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--track-complete);
    transition: width 50ms linear;
    background-color: rgb(95, 158, 160);
}

.slider .thumb {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--track-complete);
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    transition: left 50ms linear;
    will-change: transform;
    background-color: rgb(95, 158, 160);
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    user-select: none;
    touch-action: none;
}

.buttons {
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin: 0 auto;
    column-gap: 10px;
    padding: 5px;
    box-sizing: border-box;
}

.text {
    color: white;
    padding: 0;
    margin: 0;
}