.notice {
    border: 2px solid red;
    transition: transform 250ms ease-in;
    transform: translateY(calc(var(--index) * 100%));

    @starting-style {
        transform: translateY(-100%);
    }
}

.notice::backdrop {
    background-image: linear-gradient(45deg,
            magenta,
            rebeccapurple,
            dodgerblue,
            green);
    opacity: 0.75;
}