.notice {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .4);
    border: 2px outset #F5F5F5;
    background-color: black;
    color: #F5F5F5;
    padding: 0;
    width: 340px;
    transition: transform 250ms ease-in;
    transform: translateY(calc(calc(var(--index) * 100%) + calc(calc(var(--index) * 5px)) + 10px));

    @starting-style {
        transform: translateY(-100%);
    }
}

.notice.error {
    border-color: crimson;
}

.notice.warning {
    border-color: goldenrod;
}

.notice.info {
    border-color: lightskyblue;
}

.notice p {
    font-size: 14px;
    max-height: 52px;
    margin: 0;
    padding: 10px 10px 0 10px;
    overflow-y: auto;
}

.footer {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 10px;
    padding: 10px;
}