.curves-container {
    position: relative;
    height: var(--curve-size);
    padding: 4px var(--curve-size) 0 var(--curve-size);
    box-sizing: border-box;
    display: flex;
    margin-bottom: 0px;
}

.curves {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    filter: drop-shadow(0 -2px 3px rgb(from var(--color-box-shadow) r g b / .08));
}

:global(body[data-theme="dark"]) .curves {
    filter: drop-shadow(0 -2px 4px rgb(from var(--color-box-shadow) r g b / .18));
}

.curve-middle {
    background-color: var(--toolbar-background-color);
    border-top: 2px solid var(--color-primary);
    box-sizing: border-box;
    flex: 1;
    height: 100%;
}

.curve-spacer {
    height: 0px;
    border-bottom: 2px solid var(--color-primary);
}
